<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <!-- header -->
    <header class="header-main">
        <div class="header-lower clearfix">
            <%- include ../menu.ejs %>
        </div>
    </header>

    <section class="latestResultTable">
        <div class="table-responsive">
            <h2 class="heading2">Fix<span>ture</span></h2>



                        <!-- proximo partidos zona 1  -->
                        <% if ((Object.keys(partidos)).length > 0 ){ %>
                        <% for (var i = 0; i < Object.keys(partidos).length;i++ ) {%>
                        <table class="table-striped" align="center" style="text-align: center; background-color: #262626; margin-bottom: 50px; width: 85%">

                            <thead>
                                <tr style="background-color: #b81e20; ">
                                        <td class="headline03" colspan="7" style="color: darkblue">Fecha  <%=(Object.keys(partidos)[i])%></td>
                                </tr>
                            </thead>


                            <tbody>
                        <% for (var n = 0; n < (partidos[Object.keys(partidos)[i]]).length;n++ ) {%>
                                        <tr href="#">

                                           <% if (partidos[Object.keys(partidos)[i]][n].estado == "FIN"){ %>

                                               <% if (partidos[Object.keys(partidos)[i]][n].fecha != undefined){ %>
                                                    <td class="headline01"><%=partidos[Object.keys(partidos)[i]][n].fecha%></td>
                                               <% } else { %>

                                                    <td></td>
                                                <% } %>

                                                <td class="headline03" style="color: red"><%=partidos[Object.keys(partidos)[i]][n].marcador1 %></td>

                                                <td class="headline03"><span><%=partidos[Object.keys(partidos)[i]][n].equipo1 %></span></td>
                                                <td class="headline01" style="color: blue">vs</td>
                                                <td class="headline03"><span><%=partidos[Object.keys(partidos)[i]][n].equipo2 %></span></td>


                                                <td class="headline03" style="color: red"><%=partidos[Object.keys(partidos)[i]][n].marcador2 %></td>

                                            <% } else { %>
                                                <% if (partidos[Object.keys(partidos)[i]][n].fecha != undefined){ %>
                                                    <td class="headline01"><%=partidos[Object.keys(partidos)[i]][n].fecha%></td>
                                                <% } else { %>

                                                <td></td>

                                                <% } %>

                                                <td></td>

                                                    <td class="headline03"><span><%=partidos[Object.keys(partidos)[i]][n].equipo1 %></span></td>
                                                    <td class="headline01" style="color: blue">vs</td>
                                                    <td class="headline03"><span><%=partidos[Object.keys(partidos)[i]][n].equipo2 %></span></td>
                                                    <td></td>
                                            <% }%>

                                            <% if (partidos[Object.keys(partidos)[i]][n].cancha != ""){ %>

                                            <td class="headline06">
                                                            en
                                                            <span><%=partidos[Object.keys(partidos)[i]][n].cancha %></span>
                                                            <br>
                                                            estado:
                                                            <span><%=partidos[Object.keys(partidos)[i]][n].estado %></span>
                                                            <span></span>
                                                        </td>


                                            <% } else  { %>


                                            <td class="headline06">

                                                <br>
                                                estado:
                                                <span><%=partidos[Object.keys(partidos)[i]][n].estado %></span>
                                                <span></span>
                                            </td>


                                            <% } %>


                                        </tr>


                        <% }%>
                            </tbody>

                        </table>
                        <% }%>
                        <% }%>



                        <script src="js/vendor/vendor.js"></script>
                        <script src="js/main.js"></script>
                        <script src="js/admin.js"></script>
                        <script src="js/divisionesTorneo.js"></script>



    </section>
            <!-- footer -->
            <footer ><!--class="footer-type01"-->
                <%- include ../footer.ejs %>
            </footer>

</div>
</body>
</html>


