<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include ../menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Administración de Torneos<span></span></h2>
        </div>
      </div>

      <% if (resultado) { %>
          <% if (resultado == 200) { %>
                <div class="alert alert-success">La operacion fue realizada con exito</div>
          <% } else { %>
              <div class="alert alert-danger">La operacion fallo. Inténtelo nuevamente más tarde</div>
          <% } %>
      <% } %>

     <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
				
                <div class="table-responsive" style="background-color: #262626">
						<table class="table table-striped">
							<thead>
								<tr>
								  <th><div class="headline01 smallpoint"></div></th>
								  <th><div class="headline01 smallpoint">Nombre</div></th>
								  <th><div class="headline01 smallpoint">J.x.E.</div></th>
								  <th><div class="headline01 smallpoint">Activo</div></th>
								  <th><div class="headline01 smallpoint">Canchas</div></th>
								  <th><div class="headline01 smallpoint">Divisiones</div></th>
								  <th><div class="headline01 smallpoint">Partidos</div></th>
								</tr>
							</thead>
							
					  <tbody>
                      <% for(var i=0; i < torneos.length; i++) { %> 
					               <!--<li class="clearfix">-->
								   
								   <tr>
								   <th scope="row"><% i %></th>
						<td>
							<div class="headline01 smallpoint"><%= torneos[i].nombre %></div>
						</td>
                          <td>
							<div class="headline01 smallpoint"><%= torneos[i].jugadores_por_equipo %></div>
						  </td>
                          <td>
							  <div class="headline01 smallpoint">
								  <% if (torneos[i].activo) { %> Si <% } else { %> No  <% } %>  
							  </div>
						  </td>

						  <td>
                          <div class="headline01 smallpoint">
                            <% if (!(torneos[i].canchas.length==0 )) { %>
                            <% console.log('entre a torneos.ejs') %>
								  <a href="/canchasDelTorneo?torneoid=<%= torneos[i]._id %>">Ver Canchas</a>
								  <% } else { %>
									Ninguna
								  <% } %>
								  <form action="/nuevaCancha" method="post" id="formNuevaCancha">
									<input type="hidden" class="form-control" name="torneoid" value="<%= torneos[i]._id %>">
									<button type="submit" >Nueva</button>
								  </form>
                          </div>
						  </td>
						  
						  <td>
							  <div class="headline01 smallpoint">
								<% if (!(torneos[i].divisiones.length==0 )) { %>
								  <a href="/divisionesDelTorneo?torneoid=<%= torneos[i]._id %>">Ver Divisiones</a>
									  <% } else { %>
										Ninguna
									  <% } %>
									  <form action="/nuevaDivision" method="post" id="formNuevaDivision">
										<input type="hidden" class="form-control" name="torneoid" value="<%= torneos[i]._id %>">
										<button type="submit" >Nueva</button>
									  </form>
							  </div>
						  </td>

                          <td>
							  <div class="headline01 smallpoint">
								<% var partidosNum = 0; %>
								<% for(var ii=0; ii< torneos[i].divisiones.length; ii++){ %>  
								  <% partidosNum += torneos[i].divisiones[ii].length; %>
								<% } %>
								<% if (!(partidosNum==0 )) { %>
								  <a href="/partidosDelTorneo?torneoid=<%= torneos[i]._id %>">Ver Partidos</a>
								<% } else { %>
								  Ninguno
								<% } %>
							  </div>
						  </td>

                            <div class="headline01 smallpoint row row">
              							<div class="headline01 smallpoint1"><span>
              								<form onsubmit="return confirm('Seguro que desea eliminar al torneo <%= torneos[i].nombre %>?');" action="/deleteTorneo" method="post">
              					                <td><button type="submit">Eliminar</button></td>
              					                <input type="hidden" value=<%= torneos[i]._id %> name="torneoid"/>
              					            </form>
              							</span></div>
              						  </div>
            						</div>
                      <% } %>
					  </tr>
					  </tbody>
					  </table>

		</div>
		</div>
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include ../footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
	<script src="js/admin.js"></script> 
        
</body>
</html>
