<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include ../menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Divisiones del torneo <span style="color: blue"><%= torneo.nombre %></span></h2>
        </div>
      </div>

       <section class="innerpage_all_wrap bg-white" >
            <div class="table-responsive" style="text-align: center" align="center" >
                <table class=" table-striped" style="background-color: #4b5257; width: 85%; text-align: center" align="center">
                    <thead>

                    <tr style="background-color: red">
                    <td class="headline01 largepoint1">Ver equipos de:
                     <select name="division" id="divisionSelect">
                    		<option value="none" selected></option>
						    <% for(var i=0; i < divisiones.length; i++) { %> 
						    	<option value=<%= divisiones[i]._id %>> <%=divisiones[i].nombre %></option>
						    <% } %>
					</select>
                    </td>
                    </tr>



                    </thead>
                      <tbody id="dataDivision">









                      </tbody>


                    <td style="background-color: darkblue"><br>
                        <form action="/torneos" method="get">
                            <button type="submit">VOLVER A TORNEOS</button>
                        </form>
                        <br>
                    </td>

                </table>
            </div>
      </section>
    
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include ../footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
	<script src="js/admin.js"></script> 
    <script src="js/divisionesTorneo.js"></script> 
</body>
</html>

