<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <!-- header -->
    <header class="header-main">
        <div class="header-lower clearfix">
            <%- include ../menu.ejs %>
        </div>
    </header>

    <section class="latestResultTable">
        <div class="container">
            <h2 class="heading2">Tabla de <span>Posiciones</span></h2>





                            <div class="table-responsive"  style="background-color: #262626">
                                <table class=" table table-striped ">
                                    <thead >
                                        <tr >
                                            <h4 class="headline04 " style="color:darkblue; text-align: center; background-color: #b81e20">Division  <span><%= division.nombre %> </span></h4>
                                        </tr>


                                        <tr>

                                            <th scope="col" class="headline05 ">POS</th>

                                            <th scope="col" class="headline05 " style="width:30%;" colspan="7">EQUIPO</th>

                                            <th scope="col" class="headline05 "><span>PTS</span></th>
                                            <th scope="col" class="headline05 "><span>PJ</span></th>
                                            <th scope="col" class="headline05 "><span>PG</span></th>
                                            <th scope="col" class="headline05 "><span>PE</span></th>
                                            <th scope="col" class="headline05"><span>PP</span></th>
                                            <th scope="col" class="headline05 "><span>GF</span></th>
                                            <th scope="col" class="headline05 "><span>GC</span></th>
                                            <th scope="col" class="headline05"><span>DG</span></th>

                                        </tr>
                                    </thead>

                                    <tbody >
                                        <% if (posicionEquipo.length > 0 ){ %>
                                        <% for (var i = 0; i <posicionEquipo.length ; i++ ) {%>
                                        <tr>
                                            <% if (posicionEquipo[i].equipo) { %>

                                            <th scope="row" class="headline05" ><%= i+1 %></th>
                                            <td class="headline05" colspan="7"><%= posicionEquipo[i].equipoNombre %> </td>

                                            <td class="headline05">   <%= posicionEquipo[i].puntos  %> </td>
                                            <td class="headline05"><span><%= posicionEquipo[i].jugados %></span> </td>
                                            <td class="headline05"><span><%= posicionEquipo[i].ganados %></span></td>
                                            <td class="headline05"><span><%= posicionEquipo[i].empatados %></span></td>
                                            <td class="headline05"><span><%= posicionEquipo[i].perdidos %></span></td>
                                            <td class="headline05"><span><%= posicionEquipo[i].golesFavor %></span></td>
                                            <td class="headline05"><span><%= posicionEquipo[i].golesContra %></span></td>
                                            <td class="headline05"><span>  <%= (posicionEquipo[i].golesFavor - posicionEquipo[i].golesContra)   %></span></td>


                                            <% }%>

                                        </tr>
                                        <% }%>
                                        <% }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script src="js/vendor/vendor.js"></script>
                        <script src="js/main.js"></script>
                        <script src="js/admin.js"></script>
                        <script src="js/divisionesTorneo.js"></script>



    </section>
    <!-- footer -->
    <footer ><!--class="footer-type01"-->
        <%- include ../footer.ejs %>
    </footer>
</div>

</body>
</html>


