<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include ../menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Administración de Usuarios<span></span></h2>
        </div>
      </div>

      <% if (resultado) { %>
          <% if (resultado == 200) { %>
                <div class="alert alert-success">La operacion fue realizada con exito</div>
          <% } else { %>
              <div class="alert alert-danger">La operacion fallo. Inténtelo nuevamente más tarde</div>
          <% } %>
      <% } %>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">

         


				 <div class="table-responsive " style="text-align: center; ">
                     <div class="wrap_match-innerdetails">
                  <table class="table table-striped " style="background-color: #0a0a0a; text-align: center;   width: 100%" >
                    <thead style="background-color: #b81e20">

                    <tr >
                               <form class="navbar-form navbar-left" role="search">
                                   <td  class="form-group">
                                       <input type="text" id="buscadorUsuario" class="form-control" placeholder="Buscar usuario">
                                   </td>
                               </form>

                    </tr>

                    <tr >

                          <th scope="col" class="headline01 " style="text-align: center; color: darkblue ">EMAIL</th>
                          <th scope="col" class="headline01 " style="text-align: center; color: darkblue">ROL</th>
                          <th scope="col"class="headline01 " style="text-align: center; color: darkblue">EQUIPO QUE DELEGA</th>

							<th scope="col" class="headline01 " style="text-align: center; color: darkblue"><span>ELIMINAR</span></th>

                    </tr>




                    </thead>


            <tbody id="datosUsers">
              <% for(var i=0; i < users.length; i++) { %> 
  					     <tr >

                            <td class="headline01 "><%= users[i].email %></td>
                            <td class="headline01 "><%= users[i].role %></td>
                            <td class="headline01 ">
                              <% if (users[i].role != "DELEGADO") { %>
                                  No Disponible
                               <% } else { %>
                                  <% if (users[i].equipo) { %>
                                    <%= equiposMap[users[i].equipo] %>
                                  <% } else { %>
                                    Ninguno
                                  <% } %>
                                  <form  action="/delegarEquipo" method="post" id="formDelegar<%=users[i]._id%>">
                                       <select name="equipo" id="equipo">
                                         <option value="none">Ninguno</option>
                                         <% for(var j=0; j < equipos.length; j++) { %> 
                                            <% if (equiposSinDelegado[equipos[j]._id]) { %>
                                              <option value="<%= equipos[j]._id %>"><%= equipos[j].nombre %></option>
                                            <% } %>
                                         <% } %>
                                       </select>  
                                       <input type="hidden" value="<%=users[i]._id%>" name="userid"/>
                                       <button type="submit" class="asignarEquipo" id="boton-<%=users[i].email%>-<%=users[i]._id%>">Asignar</button>
                                   </form>
                              <% } %>
                            </td>
                            <!-- <div class="headline01 largepoint1 row row"> -->
              							<td class="headline01 ">
                               <% if (users[i].role == "ADMIN") { %>
                                  No Disponible
                               <% } else { %>
                  								<form onsubmit="return confirm('Seguro que desea eliminar al usuario <%= users[i].email %>?');" action="/deleteUser" method="post">
                  					                <button type="submit">Eliminar</button>
                  					                <input type="hidden" value=<%= users[i]._id %> name="userid"/>
                  					     </form>
                              <% } %>
              							</td>
              						  <!-- </div> -->

                        </tr>
               <% } %>
           </tbody>


             </table>
             </div>
 				</div>

		
        </div>
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include ../footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
	<script src="js/admin.js"></script> 
        
</body>
</html>
