<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include ../menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Administración de <% if (equipo!=null) { %> <%= equipo.nombre %> <% } else { %> Mi equipo <% } %> <span></span></h2>
        </div>
      </div>

      <% if (resultado) { %>
          <% if (resultado == 200) { %>
                <div class="alert alert-success">La operacion fue realizada con exito</div>
          <% } else { %>
              <div class="alert alert-danger">La operacion fallo. Inténtelo nuevamente más tarde</div>
          <% } %>
      <% } %>

      <section class="innerpage_all_wrap bg-white"> 
        <div class="container">
			<div class="row">
			<div class="matchSchedule_details row">
          
          
				      <% if (equipo!=null) { %>
				      		<div class="match_versus-wrap2">
			                  <div class="wrap_match-innerdetails">
			                    <ul class="point_table2">
			                       <li class="clearfix">
			                        <div class="subPoint_table">
			                          <div class="headline01 smallpoint">Indice</div>
			                          <div class="headline01 smallpoint">Nombre</div>
			                          <div class="headline01 smallpoint">Numero</div>
                                <div class="headline01 smallpoint">Capitan</div>
                                <div class="headline01 smallpoint">SubCapitan</div>
			                          <div class="headline01 smallpoint">Editar</div>
                          			  <div class="headline01 smallpoint row row">
            						  <div class="headline01 smallpoint1"><span>ELIMINAR/AGREGAR</span></div>
                                    </div>
            						</div>
                      </li>

                      		<% for(var i=0; i < 25; i++) { %>
            					               <li class="clearfix">
                                     			 <div class="subPoint_table">

                                            <% if (jugadores[i]!=undefined) { %>
                                                  <div class="headline01 smallpoint"><%= i+1 %></div>
                                            			 <div class="headline01 smallpoint"><%= jugadores[i].apellido %>, <%= jugadores[i].nombre %></div>
                                            			 <div class="headline01 smallpoint"><%= jugadores[i].numero %> (<%= jugadores[i].posicion %>)</div>
                                                   <div class="headline01 smallpoint">
                                                      <% if ( equipo.capitan == jugadores[i]._id ) { %>
                                                        SI
                                                      <% } else { %> NO <% } %>
                                                    </div>
                                                  <div class="headline01 smallpoint">
                                                      <% if ( equipo.subcapitan == jugadores[i]._id ) { %>
                                                        SI
                                                      <% } else { %> NO <% } %>
                                                    </div>
                                            			<div class="headline01 smallpoint">
                                                    <form action="/datosJugador" method="post">
                                                              <button type="submit">Editar </button>
                                                              <input type="hidden" value=<%= jugadores[i]._id %> name="jugadorid"/>
                                                    </form>
                                                  </div>
                                          
                  			                          <div class="headline01 smallpoint row row">
                              										<div class="headline01 smallpoint1">
                              											<span>
                              											<form onsubmit="return confirm('Seguro que desea eliminar al jugador <%= jugadores[i].apellido%>?');" action="/deleteJugador" method="post">
                              								                <button type="submit">Eliminar</button>
                              								                <input type="hidden" value=<%= jugadores[i]._id %> name="jugadorid"/>
                              								            </form>
                              											</span>
                              										</div>
                              									  </div>
                              									
                                          <% } else { %>
                                                  <div class="headline01 smallpoint"><%= i+1 %></div>
                                                   <div class="headline01 smallpoint">-</div>
                                                   <div class="headline01 smallpoint">-</div>
                                                   <div class="headline01 smallpoint">-</div>
                                                   <div class="headline01 smallpoint">-</div>
                                                  <div class="headline01 smallpoint">-</div>
                                          
                                                  <div class="headline01 smallpoint row row">
                                                  <div class="headline01 smallpoint1">
                                                    <span>
                                                    <form action="/addJugador" method="get">
                                                              <button type="submit">Agregar</button>
                                                    </form>
                                                    </span>
                                                  </div>
                                                  </div>
                                         <% } %>
                                        </div>
                      				</li>

                      		<% } %>

                    </ul>
                    </div>
                  </div>
 				</div>
            </div>
        </div>
				      <% } else { %>
				      	<h2> USTED NO TIENE EQUIPO ASIGNADO. HABLE CON EL ADMINISTRADOR PARA ASIGNARLE UNO </h2>
				      <% } %>
				 
		
		
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include ../footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
	<script src="js/admin.js"></script> 
    <script src="js/partidos.js"></script> 
</body>
</html>
